.venv/
.env
/build
.DS_Store
build/
/.vscode
__pycache__/
data/
.vite/
logs/
node_modules/
dist/
docs/presentations/demo.mp4

demo/playwright/test-results/
demo/recordings/

CinePal.egg-info/

# Ignore common video formats
*.mp4
